:80 {
    @api path /api /api/*
    handle @api {
        reverse_proxy fastapi:3000
    }
    @web path /web /web/*
    @blocked not remote_ip 127.0.0.1
    handle @web {
        respond @blocked 403

        reverse_proxy fastapi:3000
    }

    handle {
        respond 404
    }
}

:8080 {
    reverse_proxy airflow-webserver:8080
}
